.contact-item {
  margin: 10px 0;
}

.edit-contact {
  max-width: 30%;
  margin: 0 auto;
}

.delete-contact {
  max-width: 30%;
  margin: 0 auto;
}

.bookmark-contact {
  max-width: 30%;
  margin: 0 auto;
}

.row {
  text-align: center;
}
